body{
    background-color: rgb(255,169,24);
    background-image: url(https://wallpaperset.com/w/full/5/6/2/465356.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: fixed;

}